




<div class="wrapper wrapper-content animated fadeInRight">

 
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>House Information <small>Basic information about the house you're looking at.</small></h5>
               
            </div>
            <div class="ibox-content">
          <%= simple_form_for(@house) do |f| %>
         <%= f.error_notification %>

  
     <div class="form-group"><label class="col-sm-2 control-label">Name</label>
     <div class="col-sm-10"><%= f.input :name, label: false %></div>
     </div>
     <div class="col-lg-12 hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10"><%= f.input :address, label: false %></div>
    </div>
    <div class="col-lg-12 hr-line-dashed"></div>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :note %>
 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
            </div>
        </div>
    </div>
</div>
</div>