<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @ikitchen.house %>
</p>

<p>
  <strong>Sink:</strong>
  <%= @ikitchen.sink %>
</p>

<p>
  <strong>Cabinet:</strong>
  <%= @ikitchen.cabinet %>
</p>

<p>
  <strong>Stove:</strong>
  <%= @ikitchen.stove %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @ikitchen.floor %>
</p>

<%= link_to 'Edit', edit_ikitchen_path(@ikitchen) %> |
<%= link_to 'Back', ikitchens_path %>
